

.lang {
    .material-symbols-rounded {
        position: absolute;
        right: 23px;
        color: #2d6064;
        top: 18px;
     }
    padding: 10px 10px;
    border: 1px solid #f2f2f2;
    margin-bottom: 8px;
    border-radius: 5px;
    display: flex;    
    cursor: pointer;
    &.active {
        border-color: #047f98;  
        background-color: #e7fcfe;   
    }
    &:hover {
        border-color: #067c89;  
    }
    .flag {
        width: 60px;
        border-radius: 4px;
    }
    span {
        display: inline-block;
        margin: 8px 0px 0px 13px;
        font-weight: 900;
    }
}

.modal-body {
    padding: 0px;
}