.logo {
    width: 68px;
}

.navbar {
    background-color: transparent;
}

.material-symbols-rounded {
    color: #fff;
    font-size: 30px;
}

.navbar-brand {
    margin-right: 0px;
}

.cursor-pointer {
    cursor: pointer;
}