
<ng-container *ngIf="locales">

    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none mt-5">
        <span class="fs-5 d-none d-sm-inline"></span>
    </a>
    <ul class="nav  flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
            <span class="material-symbols-rounded">home</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
                <span class="material-symbols-rounded">account_balance</span>
            </a>               
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link px-0 align-middle">
                <span class="material-symbols-rounded">account_balance_wallet</span>  
            </a>
        </li>   

        <li class="nav-item">
            <a href="#" class="nav-link px-0 align-middle active">
                <span class="material-symbols-rounded">monetization_on</span> 
            </a>
        </li>   

        <li class="nav-item">
            <a href="#" class="nav-link px-0 align-middle">
                <span class="material-symbols-rounded">credit_score</span>  
            </a>
        </li>    

        <li class="nav-item">
            <a class="nav-link  px-0 align-middle" data-bs-toggle="modal" data-bs-target="#configModal" href="#">
                <span class="material-symbols-rounded">settings</span>
            </a>              
        </li>       
    </ul>

    <div class="modal" id="configModal" tabindex="-1" aria-labelledby="configModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="p-2 mt-2">
                <div class="w-100 lang"  [ngClass]="{active: lang == 'es'}"  data-bs-dismiss="modal"  (click)="setLang('es')">
                    <img src="/assets/flag_es.png" class="flag" />
                    <span>{{'lang_es' | lang : lang : locales}}</span>
                    <span class="material-symbols-rounded" *ngIf="lang == 'es'">
                        check_circle
                    </span>
                </div>
                <div class="w-100 lang"  [ngClass]="{active: lang == 'en'}"  data-bs-dismiss="modal" (click)="setLang('en')">
                    <img src="/assets/flag_en.png" class="flag" />
                    <span>{{'lang_en' | lang : lang : locales}}</span>
                        <span class="material-symbols-rounded" *ngIf="lang == 'en'">
                        check_circle
                    </span>
                </div>    

                <div class="w-100 lang" [ngClass]="{active: lang == 'pt'}"  data-bs-dismiss="modal" (click)="setLang('pt')">
                    <img src="/assets/flag_pt.png" class="flag" />
                    <span>{{'lang_pt' | lang : lang : locales}}</span>
                    <span class="material-symbols-rounded" *ngIf="lang == 'pt'">
                        check_circle
                    </span>
                </div>
                
            </div>          
        </div>
    
    </div>
    </div>
</ng-container>    