

.nav-item {
    color: #fff;
    a { 
        color: #fff;
        margin-bottom: 24px;
    }

   
    .active {
        background-color: #047688 !important;        
        border-radius: 10px;
        width: 59px;
        border:none !important;
        height: 50px;
        margin-left: -13px;
        border-radius: 8px !important;
        span {
            margin-left: 14px;
        }
        .material-symbols-rounded {
            color: #fff;        
        }
    }
    &:hover .material-symbols-rounded {
        color: #fff;        
    }
}

.material-symbols-rounded {
    color: #a8e9f3;
    font-size: 30px;
}

 .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 30%;
    margin: 0 auto;
    color: #05636d;

    .material-symbols-rounded {
        position: absolute;
        right: 23px;
        color: #2d6064;
        top: 18px;
     }

}

h3 {
    padding: 35px 0px 20px 0px;
    font-weight: 200;
}



.lang {
    padding: 10px 10px;
    border: 1px solid #f2f2f2;
    margin-bottom: 8px;
    border-radius: 5px;
    display: flex;    
    cursor: pointer;
    &.active {
        border-color: #047f98;  
        background-color: #e7fcfe;   
    }
    &:hover {
        border-color: #067c89;  
    }
    .flag {
        width: 60px;
        border-radius: 4px;
    }
    span {
        display: inline-block;
        margin: 8px 0px 0px 13px;
        font-weight: 900;
    }
}